pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/
.hljs {
  background: #111039;
  color: #c5c8c6
}
/*selection color*/
.hljs::selection,
.hljs span::selection {
  background: #2942fe80
}
.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #2942fe80
}
/*color: fg_yellow*/
.hljs-title {
  color: #3d73c9
}
/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #546E7A
}
/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
  color: #F78C6C
}
/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #FF9E64
}
/*color: fg_purple*/
.hljs-attribute,
.hljs-code, 
.hljs-selector-id {
  color: #6a008b
}
/*color: fg_blue*/
.hljs-keyword,
.hljs-bullet {
  color: rgb(148, 56, 210)
}

.hljs-tag,
.heljs-selector-tag {
  color: #faf9f9;
}


.hljs-template-tag,
.hljs-name {
  color: #54a9f0;
}
/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-variable {
  color: #8abeb7
}
/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #de935f
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}